<mat-toolbar color="primary" class="header">
  <span>Angular + Spring Boot + Kafka Messaging</span>
</mat-toolbar>

<div class="container">

  <mat-card>
    <mat-card-title>Sent messages</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="warn">Send</button>
    </mat-card-actions>
    <mat-card-content>
      <mat-list>
        <mat-list-item> Pepper</mat-list-item>
        <mat-list-item> Salt</mat-list-item>
        <mat-list-item> Paprika</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Received messages</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="accent">Receive</button>
    </mat-card-actions>
    <mat-card-content>
      <mat-list>
        <mat-list-item> Pepper</mat-list-item>
        <mat-list-item> Salt</mat-list-item>
        <mat-list-item> Paprika</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
